* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted red; */
}

body {
  background-color: #ffb077;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4em;
  font-weight: 500;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 600px;
  border-radius: 35px;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.2);
  background-color: #243441;
  padding: 15px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 50px;
  gap: 10px;
}

.display-main,
.display-sub {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.display-main {
  font-size: 3em;
  min-height: 88px;
}
.display-sub {
  font-size: 0.7em;
  color: #657684;
  min-height: 20px;
  max-height: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.btn {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #657684;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
    0px -1px 1px rgba(155, 155, 155, 0.1);
  transition: 0.03s all ease-in;
  cursor: pointer;
}

.btn:last-child {
  width: 128px;
  height: 55px;
  background-color: #ed802e;
  color: #fff;
}
.btn:first-child {
  width: 128px;
  height: 55px;
}

.btn:active {
  box-shadow: none;
  transform: translateY(1px);
}

.operator,
.delete,
.percent {
  color: #ed802e;
}

.active {
  background-color: #ed802e;
  color: #fff;
  /* font-size: 1.2em; */
}
